.header_container {
    padding-top: 86px;
    width: 100%;
    margin: auto;
}

.header_img {
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

@media (max-width: 414px) {

    .header_img {
        width: 312px;
    }
}

@media (min-width: 415px) and (max-width: 650px) {
    .header_img {
      max-width: 500px;
    }
  }
  
  @media (min-width: 651px) and (max-width: 1000px) {
    .header_img {
      max-width: 760px;
    }
  }
  