.signIn_container {
    display: flex;
    align-items: center;
    right: 50px;
    position: absolute;
    top: 21px;
}

@media (max-width: 414px) {
    .signIn_container {
        top: 23px;
        right: 15px;
        z-index: 9;
    }
}

.user_pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user_pic:disabled {
    opacity: 0;
}

@media (max-width: 414px) {
    .user_name {
        display: none;
    }
}

.user_info {
    display: flex;
    gap: 12px;
    align-items: center;
}

.signOut_btn {
    margin-left: 10px;
    background: transparent;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 12px;
    width: 80px;
}

@media (max-width: 414px) {
    .signOut_btn {
       width: 60px;
       padding: 4px;
       margin-left: 5px;
    }
}

.signOut_btn:hover {
    background: lightgray;
    color: white;
    transition: all ease 0.5s;
}

.signOut_container {
    margin-top: 30px;
    right: 0;
    display: flex;
    align-items: center;
    position: absolute;
}