@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Raleway:wght@700&family=Roboto:wght@400;500&display=swap');

.body {
  font-size: 13px;
  line-height: 1.4;
  color: #5e5e5e;
  background-color: #FFFFFF;
  overflow: auto;
}

.container {
  width: 1020px;
  margin: auto;
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: roboto;
}
