@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Raleway:wght@700&family=Roboto:wght@400;500&display=swap');

.body {
  font-size: 13px;
  line-height: 1.4;
  color: #5e5e5e;
  background-color: #FFFFFF;
  overflow: auto;
}

.container {
  width: 1020px;
  margin: auto;
  position: relative;
}

@media (max-width: 414px) {
  .container {
    max-width: 312px;
  }
}

@media (min-width: 415px) and (max-width: 650px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 651px) and (max-width: 1000px) {
  .container {
    margin: auto;
    max-width: 760px;
  }
}

* {
  box-sizing: border-box;
  font-family: roboto;
}